.idea/
.gradle/
build/
out/
**/node_modules

/polygloat-js/dist/
/polygloat-js/lib/
/docs-examples-from-docusaurus/
/polygloat.iml
/polygloat.ipr
/polygloat.iws
/src/main/resources/debug.properties
/clients/react/polygloat-react/dist/
/clients/react/polygloat-react/lib/
.vscode
.settings
clientapp/src/index.dev.ts