<div>
  There are 3 translations:
  {{ 'The_Dude_abides.' | translate }},
  {{ 'V.I._Lenin._Vladimir!_Ilyich!_Ulyanov!' | translate }},
  {{ 'Forget_it,_Donny,_you\'re_out_of_your_element!' | translate }}
</div>
<div>
  There are 3 translations:
  {{ 'Yeah,_well,_that\"s_just,_like,_your_opinion,_man.' | translate }},
  {{ 'Mr._Treehorn_treats_objects_like_women,_man.' | translate }},
  {{ 'The_Dude_abides.' | translate }}
</div>
<div>
  There are 3 translations:
  {{ 'The_Dude_abides.' | translate }},
  {{ 'Mark_it_zero!' | translate }},
  {{ 'The_Dude_abides.' | translate }}
</div>

<button (click)="setLang('en')">en</button>
<button (click)="setLang('de')">de</button>
